.responsiveChartContainer {
    width: 80%;
    max-width: 1000px;
    height: 520px; /* Altura predeterminada para pantallas grandes */
  }
  
  @media (max-width: 768px) {
    .responsiveChartContainer {
      height: 200px; /* Altura para pantallas más pequeñas */
    }
  }