/* deleteProduct.module.css */

.confirmationModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .confirmationModal {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1001; /* Asegúrate de que el z-index sea mayor que el de la capa de fondo */
  }
  
  .confirmationModalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según tus preferencias */
    z-index: 1000; /* Z-index menor que el modal para que esté detrás */
  }
  
  .confirmationModal button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .confirmationModal button:hover {
    background-color: #2980b9;
  }

  .container img {
    max-width: 100%;
    height: 300px;
    border-radius: 20px;
  }
  