.img{
  width: 9vw;
  height: 9vw;
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1vh;
  text-decoration: none;
}

.text {
  text-decoration: none;
  font-family: 'Verdana', sans-serif;
  font-size: 0.7rem; /*0.8 rem*/
  margin-top: 5px;
}

.price {
  text-decoration: none;
  font-family: 'Verdana', sans-serif;
  font-size: 1rem;
  margin-top: 5px;
}

.none {
  text-decoration: none;
  color: rgba(48, 30, 9, 0.616);
}

.h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 50px;
}

.card {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
  width: 18vw;
  height: 30vw;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(17, 17, 17, 0.651);
  background-color: #FBFCFC;
}

.btn {
  margin-top: 10px;
  width: 8vw;
  height: 5vh;
  background-color: #A3E4D7;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px #76D7C4;
  font-family: 'Verdana', sans-serif;
  font-size: 0.98rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 2px 1px 2px 1px #76D7C4;
}

.btn2 {
  margin-top: 10px;
  width: 8vw;
  height: 5vh;
  background-color: #C0392B;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px #A93226;
  font-family: 'Verdana', sans-serif;
  font-size: 0.98rem;
  text-align: center;
  cursor: pointer;
}

.btn2:hover {
  box-shadow: 2px 1px 2px 1px #A93226 ;
}