.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
  
  /*
   * Sidebar
   */
  
  @media (min-width: 768px) {
    .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
    .navbar-search {
      display: block;
    }
  }
  
  .sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }

  .th, .td {
    padding: 10px;
    text-align: center;
}

.button{
    border: none;
    background: transparent;
}

.custom-btn {
  background-color: #3498db; 
  color: #fff; 
  border: 1px solid #3498db; 
  transition: background-color 0.3s ease; 
}

.custom-btn.active {
  background-color: #2c3e50;
  border: 1px solid #2c3e50;
}

/* Agrega estilos para reducir la altura cuando la barra lateral está cerrada */
.sidebar-closed {
  height: 80px; /* Ajusta la altura según tus necesidades */
  transition: height 0.3s ease; /* Agrega una transición suave */
}

/* Estilos adicionales para el botón cuando la barra lateral está cerrada */
.sidebar-closed .btn.active {
  background-color: #2c3e50;
  border: 1px solid #2c3e50;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
  .sidebar {
    height: auto; /* Ajusta la altura automática en dispositivos móviles */
  }

  .sidebar-closed {
    height: auto; /* Ajusta la altura automática cuando la barra lateral está cerrada en dispositivos móviles */
  }
}
