.sidebar {
    width: 250px;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .list {
    list-style-type: none;
    margin-left: 0px;
  }
  
  .sidebar button {
    margin: 5px;
    font-size: 16px;
    width: 160px;
    color: red; 
    background-color: transparent; 
    text-align: left; 
    border: none; 
    cursor: pointer;
  }