/* OrderDetailPopup.module.css */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .popup h2 {
    color: #333;
  }
  
  .popup button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: #0056b3;
  }


  
  .selectedStar,
.unselectedStar {
  cursor: pointer;
  color: gold; /* Color de las estrellas seleccionadas */
}

.unselectedStar {
  color: #ccc; /* Color de las estrellas no seleccionadas */
}
