.th, .td {
    padding: 10px;
    text-align: center;
}

.button{
    background: none;
    border: none;
    color: blue; /* o el color que desees */
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
    outline: none;
}

.button:hover{
    color: darkblue;
}
